.sideBarContainer {
  width: 117px;
  background-color: var(--black);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
}
.iconContainer {
  width: inherit;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  gap: 10px;
}
.icon {
  height: 64px;
  width: 64px;
}
.copyright {
  position: relative;
  color: var(--white);
  writing-mode: vertical-rl;
  height: 13rem;
  rotate: 180deg;
  font-size: 12px;
  line-height: 24px;
  width: 30px;
  top: 46px;
}
