.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #8360c34f, #2ebf9121);
}
.mainWrap {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 36rem;
  height: 395px;
  text-align: center;
  border-radius: 20px;
  background-color: #efecef;
  box-shadow: 3px 3px rgba(163, 208, 204, 0.52), -0.5em 0 0.4em #d4bde4;
}
.img {
  width: 16rem;
}
.userWrapp {
  display: flex;
}
.avatar {
  height: 100px;
  width: 100px;
  /* position: relative; */
  /* right: -86px; */
  animation: morph 10s ease-in-out infinite;
  box-shadow: 4px 3px 5px #8f6791;
}
#effect {
  border-style: solid;
  border-width: 15px;
  border-image-source: url(../../../src/assets/images/sportsee-logo.svg);
  border-image-slice: 35 0;
}
.title {
  margin-top: 20px;
  background-image: linear-gradient(90deg, #568082, #dc143c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: #0014ff96 1px 5px 7px;
  font-size: 20px;
}
label {
  margin-left: 10px;
}

.checkboxWrapper input[type='checkbox'] {
  background-image: -webkit-linear-gradient(
      hsla(0, 0%, 0%, 0.1),
      hsla(0, 0%, 100%, 0.1)
    ),
    -webkit-linear-gradient(left, #a9396d 50%, #6cff00 50%);
  background-size: 100% 100%, 200% 100%;
  background-position: 0 0, 15px 0;
  border-radius: 25px;
  box-shadow: inset 0 1px 4px hsl(0deg 0% 99.73% / 38%),
    inset 0 0 0px hsl(86.28deg 78.35% 47.32%),
    0 0 0 8px hsl(0deg 93.19% 48.98% / 10%),
    0 -1px 2px 2px hsla(0, 0%, 0%, 0.25), 0 2px 2px 2px hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
  height: 25px;
  padding-right: 25px;
  width: 75px;
  -webkit-appearance: none;
  appearance: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.checkboxWrapper input[type='checkbox']:after {
  background-color: #eee;
  background-image: -webkit-linear-gradient(
    hsla(0, 0%, 100%, 0.1),
    hsla(0, 0%, 0%, 0.1)
  );
  border-radius: 25px;
  box-shadow: inset 0 1px 1px 1px hsla(0, 0%, 100%, 1),
    inset 0 -1px 1px 1px hsla(0, 0%, 0%, 0.25),
    0 1px 3px 1px hsla(0, 0%, 0%, 0.5), 0 0 2px hsla(0, 0%, 0%, 0.25);
  content: '';
  display: block;
  height: 25px;
  width: 50px;
}
.checkboxWrapper input[type='checkbox']:checked {
  background-position: 0 0, 35px 0;
  padding-left: 25px;
  padding-right: 0;
}

.btn {
  background: var(--bg);
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  padding: 14px 70px;
  margin: 0 10px 20px 10px;
  position: relative;
  bottom: -20px;
}
hr {
  border: none;
  border-top: 3px double;
  width: 271px;
  position: relative;
  right: -153px;
}
.btn:hover {
  color: var(--white);
  animation: morph 3s ease-in-out;
  transition: 1s;
}
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(
      45deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
  }

  50% {
    border-radius: 30% 60% 10% 40% / 50% 60% 30% 60%;
    background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(
      45deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
  }
}
.btn:focus {
  outline: none;
}
