.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #8360c34f, #2ebf9121);
}
.mainWrap {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 36rem;
  text-align: center;
  border-radius: 20px;
  background-color: #f7f7f7;
  box-shadow: 3px 3px rgba(163, 208, 204, 0.52), -0.5em 0 0.4em #d4bde4;
}
.img {
  width: 16rem;
}
#effect {
  border-style: solid;
  border-width: 15px;
  border-image-source: url(../../../src/assets/images/sportsee-logo.svg);
  border-image-slice: 35 0;
}
.title {
  margin-top: 20px;
  background-image: linear-gradient(90deg, #568082, #dc143c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: #0014ff96 1px 5px 7px;
  font-size: 20px;
}
label {
  margin-left: 10px;
}
.btn {
  background: var(--bg);
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  padding: 14px 70px;
  margin: 0 10px 20px 10px;
}
hr {
  border: none;
  border-top: 3px double;
  text-align: center;
}
.btn:hover {
  color: var(--white);
  animation: morph 3s ease-in-out;
  transition: 1s;
}
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(
      45deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(
      45deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
  }
}
.btn:focus {
  outline: none;
}
