.container {
  background-color: var(--bg2);
  border-radius: 5px;
  width: calc(882px - 47px);
  height: 320px;
}

.legend,
.legendElements,
.legend1,
.legend2 {
  display: flex;
}

.legend {
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 1rem;
}

.legend > h3 {
  color: var(--blackLegend);
  font-size: var(--fs-medium);
  line-height: 24px;
}

.legend1,
.legend2 {
  color: var(--legend);
  align-items: center;
  margin-left: 1rem;
  font-size: var(--fs-small);
  line-height: 24px;
}
.container svg {
  width: calc(100% - 20px);
  height: calc(100% - 120px);
}

img {
  margin-right: 10px;
}

.barKg {
  fill: var(--blackColor); /* couleur des barres de poids */
}

.barCalories {
  fill: var(--redColor) ;/* couleur des barres de calories */
}

.tooltip {
  position: absolute;
  background-color: var(--bgtooltip);
  color: var(--white);
  width: 39px;
  height: 63px;
  text-align: center;
  font-size: var(--fs-xxsmall);
  line-height: 24px;
  pointer-events: none;
}
