.container {
  background-color: var(--bg2);
  padding-top: 24px;
  padding-left: 25px;
  padding-right: 22px;
  border-radius: 5px;
  height: 100%;
}
/* .graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

    .legend,
    .legendElements,
    .legend1,
    .legend2 {
      display: flex;
    }
  
    .legend {
      justify-content: space-between;
      margin-bottom: 2rem;
      margin-left: 6px;
      margin-right: 1rem;
}

 .legend > h3  {
      color: var(--blackLegend);
      font-size: var(--fs-medium);
      line-height: 24px;
    }
    
    .legend1,
    .legend2 {
      color: var(--legend);
      align-items: center;
      margin-left: 1rem;
      font-size: var(--fs-small);
      line-height: 24px;
    }
    
    img {
      margin-right: 10px;
    }
    /* Styles pour les barres */
.bar {
  opacity: 0.8; /* ajustez l'opacité comme nécessaire */
}

.barKg {
  fill: black; /* couleur des barres de poids */
}

.barCalories {
  fill: red; /* couleur des barres de calories */
}

.yAxisRight {
  position: absolute;
  top: 20px; /* Ajustez la position verticale selon vos besoins */
  right: 20px; /* Ajustez la position horizontale selon vos besoins */
}
