.cardWrap {
  width: 258px;
  height: 124px;
  background: var(--bg1); 
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.iconWrap {
  display: flex;
  justify-content: center;
  margin-left: 10%;
}

.nutritionInfo {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  font-size: 12px;
  justify-content: center;
  line-height: 24px;
}

.nutriValue {
  font-size: 16px;
  font-weight: 700;
}

.nutrition {
  font-size: 14px;
  color: var(--grey);
  font-weight: 500;
}
