.container {
  position: relative;
  width: calc(100vw - 117px);
  padding: 2% 5% 0 5%;
}

.mainWrap {
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
  height: 779px;
  gap: 25px;
}

.chartContainer {
  width: 835px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardWrap {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 43px;
}

.bottomCharts {
  position: relative;
  bottom: 156px;
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}