:root {
  --primary: #88d5bf;
  --secondary: #5d6bf8;
  --third: #e27fcb;
  --black: hsla(240, 20%, 1%, 1);
  --blackLegend: hsla(229, 28%, 18%, 1);
  --red: hsl(0, 100%, 50%);
  --radar: hsla(0, 100%, 50%, 0.7);
  --white: hsla(0, 0%, 100%, 1);
  --white2: hsla(0, 0%, 100%, 0.4);
  --bg1: hsla(0, 0%, 0%, 0.02);
  --bg2: hsla(0, 0%, 98%, 1);
  --bg: linear-gradient(#64d9e6a7, #a57bdb89);
  --grey: rgb(128, 128, 128);
  --performance: #282d30;
  --fs-header: 16px;
  --fs-big: 48px;
  --fs-normal: 18px;
  --fs-medium: 15px;
  --fs-small: 14px;
  --fs-xsmall: 12px;
  --fs-xxsmall:7px;
  --legend: hsla(228, 9%, 50%, 1);
  --d3Text :hsla(228, 9%, 64%, 1);
  --d3Line: hsla(0, 0%, 87%, 1);
  --bgd3graph2:hsla(0, 100%, 50%, 1);
  --blackColor:hsla(203, 9%, 17%, 1);
  --redColor:hsla(0, 100%, 45%, 1);
  --bgbargroup:hsla(0,0%,77%,0.5);
  --bgtooltip:hsla(0, 100%, 45%, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
