:root {
  --black: #020203;
  --red: #ff0101;
  --white: #fff;
  --bg: #fbfbfb;
  --grey: rgb(128, 128, 128);
  --performance: #282d30;
  --fs-header: 16px;
  --fs-big: 48px;
  --fs-normal: 18px;
  --fs-medium: 16px;
  --fs-small: 14px;
  --fs-xsmall: 12px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}